@charset "UTF-8";
article header h1, div.home h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: 300;
}

article hr, div.home hr {
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
}

html {
  background-color: black;
  color: #b2b2b2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
@media (max-width: 689px) {
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 690px) {
  html {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 1.4rem;
  }
}

body {
  margin: 0;
}

a {
  color: #268bd2;
  text-decoration: underline;
  text-decoration-color: #93a1a1;
}
a:hover {
  color: #2aa198;
}
a:visited {
  color: #2aa198;
}
a:active {
  color: #d33682;
}

.container {
  margin: 0 auto;
}
@media (max-width: 689px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 690px) {
  .container {
    max-width: 40rem;
  }
}

@media (max-width: 689px) {
  div.home {
    margin: 1.1rem;
  }
}
div.home h1 {
  padding: 0;
}
@media (min-width: 690px) {
  div.home h1 {
    text-align: center;
  }
}
div.home .header {
  padding: 2rem 0;
}
div.home .header h2 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #93a1a1;
}
@media (min-width: 690px) {
  div.home .header h2 {
    text-align: center;
  }
}
div.home h2 {
  margin-top: 0rem;
  font-weight: 400;
}
@media (min-width: 690px) {
  div.home h2 {
    text-align: center;
  }
}
div.home div.post {
  margin: 1rem 0;
}
@media (min-width: 690px) {
  div.home div.post {
    margin: 0 auto;
    max-width: 23.3rem;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 689px) {
  article {
    margin: 1.1rem;
  }
}
article header p {
  margin: 3.5rem 0 0 0;
  font-weight: 600;
}
article header time {
  display: block;
  margin: 0.4rem 0 3.5rem 0;
}
article section {
  margin: 1.5rem 0 1.5rem 0;
}
article section h2 {
  margin-top: 2.2rem;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
article section > p {
  line-height: 1.6rem;
  margin: 0 0 1.4rem 0;
}
@media (min-width: 690px) {
  article section > p {
    text-align: justify;
  }
}
article section h2 + p, article section p:first-of-type {
  text-indent: 0;
}
article section > p:last-of-type::after {
  content: " ■";
}
article section a.footnoteRef sup {
  font-size: 1rem;
  vertical-align: bottom;
}
article section a.footnoteRef sup::before {
  content: "[";
}
article section a.footnoteRef sup::after {
  content: "]";
}
article section blockquote {
  margin-left: 0;
  padding-left: 0.5rem;
  border-left: 0.3rem #93a1a1 solid;
}
article section div.footnotes {
  font-size: 0.9rem;
}
article section.hyphenate {
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
article footer {
  margin: 3.5rem 0;
}
@media (min-width: 690px) {
  article footer {
    text-align: center;
  }
}
article footer p.legal {
  font-size: 0.8rem;
}

/*# sourceMappingURL=layout.css.map */
