// mixin for device breakpoints
@mixin for-device($device) {
	@if $device == phone-only {
		@media (max-width: 599px) { @content; }
	} @else if $device == tablet-portrait-up {
		@media (min-width: 600px) { @content; }
	} @else if $device == tablet-landscape-up {
    	@media (min-width: 900px) { @content; }
  	} @else if $device == desktop-up {
    	@media (min-width: 1200px) { @content; }
  	} @else if $device == big-desktop-up {
    	@media (min-width: 1800px) { @content; }
  	}
}

// solarized colour palette 
$base03:    rgb(0, 43, 54);
$base02:    rgb(7, 54, 66);
$base01:    rgb(88, 110, 117);
$base00:    rgb(0, 0, 0);
$base0:     rgb(131, 148, 150);
$base1:     rgb(147, 161, 161);
$base2:     rgb(238, 232, 213);
$base3:     rgb(255, 255, 255);
$yellow:    rgb(181, 137, 0);
$orange:    rgb(203, 75, 22);
$red:       rgb(220, 50, 47);
$magenta:   rgb(211, 54, 130);
$violet:    rgb(108, 113, 196);
$blue:      rgb(38, 139, 210);
$cyan:      rgb(42, 161, 152);
$green:     rgb(133, 153, 0);

html {
    background-color: $base3;
    color: $base00;

	font-family:
		// Safari for OS X and iOS (San Francisco)
		-apple-system,
		// Chrome < 56 for OS X (San Francisco)
		BlinkMacSystemFont,
		// Windows
		"Segoe UI",
		// Android
		"Roboto",
		// Basic web fallback
		"Helvetica Neue", Arial, sans-serif,
		// Emoji fonts
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	
	@include for-device(phone-only) {
		font-size: 1rem;
	}

	@include for-device(tablet-portrait-up) {
		font-size: 1rem;
	}

	@include for-device(desktop-up) {
		font-size: 1.2rem;
	}

	@include for-device(big-desktop-up) {
		font-size: 1.4rem;
	}


}

// base styles
body {
	margin: 0;
}

a {
	text-decoration: none;

	color: $blue;

	&:hover {
		color: $cyan;
		text-decoration: underline;
	}

	&:visited {
		color: $cyan;
	}

	&:active {
		color: $magenta;
	}
}


.container {
	margin: 0 auto;

	@include for-device(phone-only) {
		max-width: 100%;	
	}

	@include for-device(tablet-portrait-up) {
		max-width: 40rem;
	}
}

nav {
	$nav-height: 2.2rem;

	max-height: $nav-height;

	div.container {
		display: flex;
		max-height: $nav-height;
	}

	ul.links {
		display: flex;
		width: 100%;
		padding-left: 0;
		
		list-style: none;
		margin: 0;

		li {
			padding: 0.5rem; 
			font-size: 0.8rem;
			font-weight: 600;

			&:last-of-type {
				@include for-device(tablet-portrait-up) {
				}
			}
		}
	}
}

div.block-container {
	display: grid;

	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto auto;

	div.block-lg {
		grid-column-start: span 2;
		grid-row-start: span 2;
		
	}

	div.block-md {
		grid-column-start: span 2;
		grid-row-start: span 1;
	}

	div.block-sm {
		grid-column-start: span 1;
		grid-row-start: span 1;
	}
}

article {
	@include for-device(phone-only) {
		margin: 1.1rem;
	}

	h1 {
		margin: 0;
		padding: 3.5rem 0 3rem 0;
	
		font-size: 2.5rem;
		font-weight: 400;
		
		text-align: center;
	}


	header {
		p {
			text-align: center;
			font-weight: 600;
			margin-bottom: 0;
		}

		img.avatar {
			border-radius: 50%;
			max-height: 3rem;
		}
	}

	hr {
		border-style: solid;
		border-width: 0.5px;
		border-color: $base1
	}

	section {

		p {
			line-height: 1.5rem;
		}
		a.footnoteRef {
			font-weight: 800;
			margin-left: 0.2rem;
		}

		div.footnotes {
			font-size: 0.9rem;	
		}
	}
}
