<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>$title$ | Josh Taylor's Blog</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">Josh Taylor's Blog</div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/archive.html">Archive</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $if(date)$
            <div class="info">
                Posted on $date$, it was a $day$
            </div>
            $endif$


            $body$
        </div>
        <div id="footer">
            © 2016 Josh Taylor. <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> 
            for post content. MIT License for site tools and styling.
        </div>
    </body>
</html>
