<div class="home">
  <div class="header">
    <h2>A Blog written by</h2>
    <h1>Josh Taylor</h1> 
  </div>
  <h2>Recent Posts</h2>
  <div class="post-list">
  	<div class="post">
  		<div class="post-href"><a href="/posts/high-anxiety.html">High Anxiety</a></div>
  		<div class="post-date">2017-03-24</div>
  	</div>
    <div class="post">
      <div class="post-href"><a href="/posts/profoundly-immoral-and-wicked.html">Profoundly Immoral and Wicked</a></div>
      <div class="post-date">2016-02-18</div>
    </div>
  </div>
</div>
