<div class="home">
  <h1>Josh Taylor's Blog</h1> 
  <hr>
  <h2>Recent Articles</h2>
  <table>
  	<tr>
      <td><a href="/posts/inadequacy.html">On Inadequacy</a></td>
  		<td>2018-05-02</td>
  	</tr>
  	<tr>
      <td><a href="/posts/soap-operas.html">Soap Operas</a></td>
  		<td>2017-06-15</td>
  	</tr>
  	<tr>
  		<td><a href="/posts/high-anxiety.html">High Anxiety</a></td>
  		<td>2017-03-24</td>
  	</tr>
  	<tr>
      <td><a href="/posts/getting-the-balance-right.html">Getting the Balance Right</a></td>
  		<td>2016-06-08</td>
  	</tr>
    <tr>
      <td><a href="/posts/profoundly-immoral-and-wicked.html">Profoundly Immoral and Wicked</a></td>
      <td>2016-02-18</td>
    </tr>
  	<tr>
      <td><a href="/posts/orange-lit-runs.html">Orange Lit Runs</a></td>
  		<td>2015-12-10</td>
  	</tr>
  </table>
</div>
