<html lang="en-gb">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122300301-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-122300301-1');
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    $if(title)$
    $title$ - 
    $endif$
    Josh Taylor's Blog
  </title>

$if(title)$
  <script src="/js/hylo.js" type="text/javascript"></script >
$endif$


  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The Blog of Josh Taylor">
  
  <meta name="twitter:card" content="summary">
$if(title)$
  <meta property="og:type" content="article" />
  <meta name="twitter:title" content="$title$">
  <meta property="og:title" content="$title$" />
$else$
  <meta name="twitter:title" content="Josh Taylor's Blog">
  <meta property="og:title" content="Josh Taylor's Blog" />
$endif$
  <meta property="og:site_name" content="Josh Taylor's Blog" />
  
  <meta name="twitter:description" content="The Blog of Josh Taylor">
  <meta property="og:description" content="The Blog of Josh Taylor" />
  
$if(author)$
  <meta name="twitter:creator" content="@Josh_TaylorUK">
$endif$
  
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="shortcut icon" type="image/ico" href="/img/favicon.png">
</head>
<body>
  <div class="container">
  	$body$	
  </div>
</body>
</html>
