---
title: $title$
date: $date$
author: $author$
---

<article>
	<header>
		<h1>$title$</h1>
		<p>
			$author$
			<img class="avatar" src="/img/josh-sm.jpg" alt="Picture of $author$">
			<time datetime="$date$">$date$</time>
		</p>
	</header>
	<section>
		$body$
	</section>
	<footer>
		<p>
		<a href="/">More Posts</a>
		</p>
		<p>
    &copy; 2015&ndash;$currentyear$ Josh Taylor.<br>
    <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> for article content.
    <a href="/LICENSE">MIT License</a> for site tools and styling.
    </p>
	</footer>
</article>

